html {
  color: #222;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


textarea {
  resize: vertical;
}

img {
  width: 100%;
}

h1 {
  color: #000;
}


/* layout */
div,
section,
footer,
header {
  border: 1px solid #ccc;
}
.column{
  margin-right: 1rem;
}
.heading {
  text-align: center;
}

.heading img{
  max-width: 12rem;
}

.about .do img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.thingsofabove img{
  max-width: 40rem;
}

.project img{
  max-width: 35rem;
}

footer{
  color: white;
  background-color: rgb(22, 36, 47);
  padding: 3rem;
}

.peewee{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* small only */
@media screen and (max-width: 39.9375em) {
  
  .sponsors img{
    display: none;
  }

  .footer-items{
    display: none;
  }

  .footer-colors{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  
  }

  .projects-new .work {
    display: grid;
    max-width: 50rem;
  }

  .projects-new .sample{
    display: none;
  }

  .projects .project{
    display: grid;
    max-width: 50rem;
  }

  .about .do {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

}

/* medium and up */
@media screen and (min-width: 40em) {
  .row {
    display: grid;
    width: 85vw;
    max-width: 70rem;
    margin: 0 auto;
  }

  .m-col-2{
    grid-template-columns: 1fr 1fr ;
  }
  .m-col-3{
    grid-template-columns: repeat(3, 1fr) ;
  }
  .m-col-4{
    grid-template-columns: repeat(4, 1fr) ;
  }
  .m-col-5{
    grid-template-columns: repeat(5, 1fr);
  }
  .m-1-2{
    grid-template-columns: 1fr 2fr;
  }
  .span-full{
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .about .do {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    text-align: center;
  }

  .footer-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-colors{
    display: block;
    margin-left: auto;
    margin-right: 0%;
    width: 40%;
  }

  .socials{
    display: none;
  }

  .projects-new .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projects .project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .sponsors .links{
    display: grid;
  }

  .about .things-we-do{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

/* medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .special-project {
    grid-column-start: 1;
    grid-column-end: -1;
  }

}

/* large and up */
@media screen and (min-width: 64em) {
  .l-col-2{
    grid-template-columns: 1fr 1fr ;
  }
  .l-col-3{
    grid-template-columns: repeat(3,1fr) ;
  }
  .l-col-4{
    grid-template-columns: repeat(4,1fr) ;
  }
  .l-col-5{
    grid-template-columns: repeat(5,1fr) ;
  }
  .l-col-6{
    grid-template-columns:repeat(6,1fr) ;
  }

  .about .things-we-do{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .projects-new .work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-new .sample{
    display: none;
  }

  .projects .project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .thingsofabove .things{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }

  .footer-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* modules */
/* theme*/

  .page-footer{
    background-color: rgb(22, 36, 47);
  }
  .page-slider{
    background-color: rgb(230, 230, 230);
  }

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " ("attr(href) ")";
  }

  abbr[title]::after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
